signalr-client-slazarov==0.0.7.2
#git+https://github.com/slazarov/signalr-client-py.git@develop#egg=signalr-client-py==0.0.7.2
cfscrape>=1.9.4
requests[security]==2.18.4
Events==0.3
websocket-client==0.47.0
gevent>=1.3a1
wsaccel>=0.6.2